/doctors/__pycache__
*.sqlite3
/accounts/__pycache__
accounts/__pycache__/models.cpython-313.pyc
/accounts/__pycache__
/accounts/__pycache__
.env
patients/migrations/0004_patientvaqtincha.py
patients/migrations/0005_alter_patientvaqtincha_passport_number_and_more.py
patients/migrations/0006_alter_patientvaqtincha_passport_series.py
patients/migrations/0004_patientvaqtincha_kasalliktarixi.py
patients/migrations/0005_kasalliktarixi_anus_shikoyatlar_hujjat_and_more.py
accounts/migrations/0003_user_created_by.py
accounts/migrations/0004_remove_user_created_by.py
patients/migrations/0006_patientvaqtincha_created_by.py
doctors/migrations/0006_doctor_availability_status_doctor_emergency_contact_and_more.py
doctors/migrations/0006_doctor_active_patients_doctor_address_and_more.py
/doctors/migrations
/venv
chat/migrations/0005_chatsession_title.py
chat/migrations/0004_message_model_used.py
.DS_Store
chat/migrations/0004_chatsession_title_message_model_used.py
/node_modules
